@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");

input::-ms-reveal,
input::webkit-password-toggle-button {
  display: none;
} /* Pra não mostrar o botão de exibir/ocultar senha padrão dos navegadores*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #fff, #e1c0e9);
  font-family: "Allerta", Courier, monospace;
  color: #efefef;
}

.tela-login {
  width: 380px;
  height: 600px;
  min-height: 520px;
  border-radius: 40px;
  background-color: #811b77;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border: solid 4px #56007e;
  overflow: hidden;
}

.logo-nynus {
  width: 240px;
  height: auto;
  margin-bottom: 10px;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
}

.palavrinhas {
  font-size: 20px;
  margin: 10px 0 5px 0; 
  align-self: flex-start;
  color: #efefef;
  text-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(199, 145, 186);
}

#username {
  width: 100%; 
  max-width: none;
  height: 55px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 2px #b55385;
  background-color: #ffdbf7;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.45);
  font-family: "Allerta", Courier, monospace;
  font-size: 16px;
}

.senha-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
  max-width: none;
}

.senha-container input {
  width: 100%;
  height: 55px;
  padding: 15px 45px 15px 15px;
  border-radius: 10px;
  border: solid 2px #b55385;
  background-color: #ffdbf7;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.45);
  font-family: "Allerta", Courier, monospace;
  font-size: 16px;
}

.senha-container img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.senha-container img:hover {
  opacity: 1;
}

#btn-login {
  width: 100%;
  max-width: 250px; 
  height: 70px;
  border: solid 2px #37004d;
  font-size: 28px;
  text-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  padding: 12px;
  background-color: #8549a1;
  text-align: center;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "Allerta", Courier, monospace;
}

#btn-login:hover {
  background-color: #65317a;
}

.containerSenha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; 
}


.do-cadastro, .forget-senha, .pConta {
  text-align: center;
  font-size: 14px;
  margin: 10px 0; 
}


.do-cadastro, .forget-senha {
  color: #b55385;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #450126;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}


.pConta {
  color: #FFFFFF; 
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #450126;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.containerSenha .pConta, .containerSenha .do-cadastro {
  margin: 5px 0; 
}

.do-cadastro:hover, .forget-senha:hover {
  color: #d87bb5; 
}