@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");

input::-ms-reveal,
input::webkit-password-toggle-button {
  display: none;
} /* Pra não mostrar o botão de exibir/ocultar senha padrão dos navegadores*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Allerta", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #fff, #e1c0e9);
    align-items: center;
    justify-content: center;
}


.lado-esquerdo {
    width: 45vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #5a0c58;
}

.logo-nynus {
    width: 60%;
    margin-bottom: 20px;
}

.slogan {
    font-size: 20px;
    color: #5a0c58;
    text-align: center;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.lado-direito {
    width: 40vw;
    height: 90vh;
    background-color: #811b77;
    border: 4px solid #56007e;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 40px 50px;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    text-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(199, 145, 186);
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.linha-inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

input, select {
    height: 105%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #b55385;
    background-color: #ffdbf7;
    font-family: "Allerta", sans-serif;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.45);
}

select {
    color: #333;
}

.senha-container {
    position: relative;
}

.toggle-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}


.toggle-eye:hover {
    opacity: 1;
}

#criarConta {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background-color: #8549a1;
    border: solid 2px #37004d;
    border-radius: 10px;
    color: white;
    font-family: "Allerta", Courier, monospace;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.45);
    text-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

#criarConta:hover {
    background-color: #65317a;
}

.success-icon {
    width: 55%;
    margin-bottom: 20px;
  }

.popup-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-family: "Allerta", sans-serif;
  }
  
  .popup-overlay.show {
    display: flex;
  }
  
  .popup-box {
    background-color: #811b77;
    border: 4px solid #56007e;
    border-radius: 20px;
    padding: 40px 50px;
    text-align: center;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 90%;
  }
  
  .popup-box p {
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.4;
    margin-bottom: 25px;
  }
  
  .popup-button {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .popup-button button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
  }
  
  #prosseguirBtn {
    background-color: #8549a1;
    color: #fff;
    border: solid 2px #37004d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  #prosseguirBtn:hover {
    background-color: #7d3f91;
  }
  